@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

/**비주얼**/
@media screen and (max-width:1000px){
	.vis_Energy{overflow:hidden;}
	.vis_Energy img{width:160%;}
	.vis_Energy p{font-size:38px; left:0; right:0; text-align:center;}
}
@media screen and (max-width:600px){
	.vis_Energy img{width:200%;}
	.vis_Energy p{top:30%; left:auto; right:10%;}
	.vis_Energy p span{display:block;}
}
@media screen and (max-width:414px){
	.vis_Energy p{font-size:24px;}
}
@media screen and (max-width:320px){
	.vis_Energy p{font-size:18px;}
}
/**비주얼 END**/

/**컨텐츠**/
/*article 공통*/
@media screen and (max-width:1000px){
	article.sub_contents{width:97%; margin:0 auto;}
}
@media (min-width:320px) and (max-width:800px){
	article.sub_contents{padding-top:50px;}
	article.sub_contents h2 span{margin:15px auto 50px;}
}
@media (min-width:320px) and (max-width:414px){
	article.sub_contents{padding-top:30px;}
	article.sub_contents h2{font-size:20px;}
	article.sub_contents h2 span{width:60px; height:2px;}
}
@media (min-width:320px) and (max-width:800px){
	article.sub_contents h2 span{margin:10px auto 30px;}
}
/*article 공통 END*/

/*회사개요*/
@media screen and (max-width:1000px){
	.company div{background:url("../../img/sub_hanwhaEnergy/ceo.png") 100% 50% no-repeat #fff; background-size:48%;}
}
@media (min-width:320px) and (max-width:800px){
	.company div{background:url("../../img/sub_hanwhaEnergy/ceo.png") right top no-repeat #fff; background-size:54%;}
}
@media (min-width:320px) and (max-width:600px){
	.company div{padding-bottom:500px; background:url("../../img/sub_hanwhaEnergy/ceo.png") 60% 96% no-repeat #fff; background-size:80%;}
	.company div table tr th{width:73%;}
}
@media (min-width:320px) and (max-width:414px){
	.company div{padding-bottom:370px;}
	.company div table tr{color:#575757;}
	.company div table tr th{width:100%; font-size:14px; padding:12px 0; margin:0 20px 0 5px;}
	.company div table tr td{font-size:12px; text-align:center;}
	.company div table tr:last-child td{padding:0 50px;}
}
@media (min-width:320px) and (max-width:360px){
	.company div table tr th{width:120%; margin:0 20px 0 0;}
	.company div table tr:last-child td{padding:0 35px;}
}
@media (min-width:320px) and (max-width:320px){
	.company div{padding-bottom:300px;}
	.company div table tr th{width:125%;}
	.company div table tr td{padding-left:16px;}
	.company div table tr:last-child td{padding:0 25px;}
}
/*회사개요 END*/

/*비전 및 미션*/
@media screen and (max-width:1000px){
	.visionMission ul{margin:0 0 0 30px;}
	.visionMission ul li strong{width:74%; margin:0 20px;}
	.visionMission ul li span:last-child{display:block; width:74%; padding-left:20px;}
	.visionMission .vision ul li > span{padding-top:6px;}
	.visionMission .vision ul li:nth-child(2)>  span > span{float:none; display:inline; padding:0;}
	.visionMission .mission h4{font-size:14px; margin:60px 0;}
	.visionMission .mission ul li span{padding-top:7px;}
}
@media (min-width:320px) and (max-width:800px){
	.visionMission div > strong{width:40%;}
	.visionMission .vision h3{font-size:20px; letter-spacing:-1px; margin:40px 0;}
	.visionMission .mission h4{width:62%; margin:40px auto;}
	.visionMission .mission ul li{margin-bottom:32px;}
}
@media (min-width:320px) and (max-width:600px){
	.visionMission ul li strong{width:64%;}
	.visionMission ul li span:last-child{width:65%;}
	.visionMission .vision ul li{margin-bottom:43px;}
	.visionMission .vision h3{width:67%; font-size:24px; margin:40px auto;}
	.visionMission .mission h4{width:83%;}
}
@media (min-width:320px) and (max-width:414px){
	.visionMission div{width:100%;}
	.visionMission ul{margin:0 0 0 26px;}
	.visionMission .vision ul li .vision_icon_box{width:40px; padding-top:4px;}
	.visionMission ul li strong{font-size:20px; margin:0 10px;}
	.visionMission ul li span:last-child{width:85%; padding-left:10px;}

	.visionMission .mission{margin-top:6px;}
	.visionMission .mission h4{width:65%;}
}
@media (min-width:320px) and (max-width:360px){
	.visionMission ul li strong{margin:0 16px 0 12px;}
	.visionMission ul li span:last-child{width:78%; padding:5px 0 0 15%; margin-top:-6px;}
	.visionMission .vision ul li strong{font-size:20px;}
	.visionMission .vision ul li span:last-child{padding:0 0 0 16%;}
	.visionMission .vision ul li:nth-child(2) span:last-child{margin-top:-12px;}

	.visionMission .mission h4{width:75%;}
	.visionMission .mission ul li:last-child span:last-child{padding:0 0 0 15%};
}
@media screen and (max-width:320px){
	.visionMission ul{margin:0 0 0 16px;}
	.visionMission .vision ul li{margin-bottom:30px;}
	.visionMission .vision h3{width:91%; font-size:20px; margin:30px auto;}
	.visionMission .vision ul li span:last-child{width:72%; padding:0 0 0 18%;}

	.visionMission .mission h4{width:76%;}
	.visionMission .mission ul li span:last-child{width:79%; padding:11px 0 0 4%;}
	.visionMission .mission ul li:last-child span:last-child{padding:0 0 0 16%; margin-top:-14px;}
}
/*비전 및 미션 END*/
/**컨텐츠 END**/